<!DOCTYPE html>
<html>
<head>
    <title>Report</title>
</head>
<body>
    <div class="container">
        <h1>All Patient Records</h1>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Date of Assessment</th>
                <th>Examiner</th>
                <th>Eye Response</th>
                <th>Verbal Response</th>
                <th>Motor Response</th>
                <th>Total Score</th>
                <th>Comments</th>
            </tr>
            {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>
                <td>{{ row[7] }}</td>
                <td>{{ row[8] }}</td>
                <td>{{ row[9] }}</td>
                <td>{{ row[10] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
